article{
    margin:1em auto;
    max-width:40em;
    padding:0 .62em 3.24em;
    font:1.2em/1.62 sans-serif
}
h1,h2,h3 {
    line-height:1.2
}
@media print{
    body{
        max-width:none
    }
}
html, body {
    height: 100%; /* Makes sure html and body extend full viewport height */
    margin: 0;
    padding: 0;
}
header, nav {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
header {
    flex-direction: column;
    margin-bottom: 20px; /* Adds space between the header and nav */
}

nav {
    width: 100%;
    opacity: 1; /* Default full visibility */

    display: flex;
    align-items: center;
    justify-content: space-around; /* Distributes items evenly */
    flex-wrap: wrap;
}
.nav-placeholder {
    width: 100%;
    height: 0;
    transition: height 0.5s ease; /* Smooth transition for height adjustment */

}
nav.sticky {
    position: fixed;
    top: 0;
    left: 0; /* Ensures the nav starts from the left edge */
    right: 0; /* Ensures the nav extends to the right edge */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it stays on top of other content */
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
    background-color: white;
    flex-wrap: wrap;
}
nav a {
       margin: 0 10px; /* Adds horizontal space between links */
       transition: opacity 0.5s ease;
       vertical-align: middle;
       display: flex;
       align-items: center;
       flex: 0 1 auto; /* Do not grow, allow shrink, and base width on content */
}
@media (max-width:1024px) {
    nav {
        justify-content: flex-start;
    }
}
@media (max-width: 768px) {
 
    nav a {
        margin: 0 5px; /* Reduces margin on mobile */
        padding: 10px 5px; /* Increases touch area */
    }

    /* Adjust nav padding or other properties */
    nav.sticky {
        padding: 10px;
    }
}
header img, footer img {
width: 240px;
height: 240px;
border-radius: 50%;
object-fit: cover;
}
details img {
width: 240px;
height: 300px;
border-style: solid;
border-width: 2px;
}
svg {
    width: 1.2em; 
height: 1.2em; 
padding: 2px;
vertical-align: middle;
}
svg.icon {

border-width: 2px;
border-color: black;
border-style: dashed;
vertical-align: middle;
}
svg.icon:hover {
border-style:solid;
background-color: lightgray;
}

/* Hide the expandable text by default */
#expandable-text {
display: none;
}

/* Style for the summary (clickable) text */
summary {
cursor: pointer;
outline: none; /* Remove default focus outline */
font-weight: bold;
}

/* Show the expandable text when the summary is in focus */
summary:focus + #expandable-text {
display: block;
}

details {
font-size: 0.8em;
}

/* Center the button */
.center {
text-align: center;
margin-top: 50px; /* Adjust as needed */
}

/* Button styling */
.btn {
display: inline-block;
padding: 10px 20px;
background-color: white;
color: black;
text-decoration: none;
border-radius: 0px;
border-color: black;
border-style:dashed;
transition: background-color 0.3s;
}

/* Button hover effect */
.btn:hover {
background-color: lightgray;
border-style: solid;
}

.video-thumbnail {
    position: relative;
    width: 50vw; /* 50% of the viewport width */
    padding-top: 28.125vw; /* 56.25% of 50vw, maintains 16:9 aspect ratio */
    overflow: hidden;
}

.video-thumbnail iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

p.small, li.small {
    font-size: 0.8em;
}

img.project-thumbnail {
width:50vw;
border-style: solid;
border-width: 2px;
}

img.project-thumbnail-small {
    width:20vw;
    border-style: solid;
    border-width: 2px;
}

.return {
    font-size: large;
    position: fixed;
    padding: 10px 20px;
    bottom: 0;
    right: 0;
    background-color: #f9f9f9; /* Light grey background */
    z-index: 1000; /* Ensures it stays on top of other content */
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
}
.return a {
    opacity: 0.8;
}

footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    margin:0;
    background-color: #f1f1f1;
    color: #666;
    font-size: 0.8em;
    font-family: sans-serif;
}

* {
    /*box-shadow: 0 0 0 1px red; /* Temporarily outlines all elements */
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width */
}


.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
@media (min-width: 800px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
}

.gallery-item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
}

.caption {
    margin-top: 10px;
    font-size: 0.6em;
}


.hero-section {
    text-align: center;
    padding: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: white;
    padding: 16px;
    font-size: 1em;
    border: dashed;
    border-width: 2px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%; /* Set to 100% of the parent width */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: lightgrey;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: lightgrey;
    border-style: solid;
}

summary {
    font-size: larger;
    color: darkblue;
    text-decoration: underline;
}